body{
margin-left: 20px;
margin-right: 20px;
background: whitesmoke;
border:1px solid red;
padding:3px;
}

h2{
background: lightskyblue;
color: darkblue;
text-align:center;
font-family: 'Comic Sans MS';

}
h1{
background: lightskyblue;
color: darkblue;
text-align:center;
margin-bottom:40px;
font-family: 'Comic Sans MS';
text-decoration: overline;
}
h4{
font-family: 'Comic Sans MS';
}
section{
margin: 20px;
display:flex;
width: 90%;
align-items:center;
justify-content: space-around;
box-sizing: border-box;
}
#nav {
display:flex;
flex-direction: row;
background:white;
width:98%;
padding:1%;
margin-bottom:40px;
}

.tresc {
flex-grow: 1;
flex-shrink: 1;
background:lightskyblue;
color:darkblue;
width:450px;
padding:1%;
margin: 20px;
border-radius: 15px;
box-shadow: 0 0 2em lightskyblue;

}


aside { 
flex-direction: column;
flex-grow: 1;
flex-shrink: 2;
flex-basis: 0;
width:400px;
height:auto;
background:lightskyblue;
color:darkblue;
padding:5px;
margin:20px;;
font-size:90%;
border-radius: 15px;
box-shadow: 0 0 2em lightskyblue;
}
footer{
width:100%;
text-align:center;
background: lightskyblue;
color: darkblue;
}

ul#nav li { 
 border: 1px solid #d5d5d5; 
 list-style-type: none; 
 background: lightcyan; 
 margin-left: 20px; 
 box-shadow: 0 0 2em lightskyblue;
} 
ul#nav li:hover { 
 border: 1px solid #d5d5d5; 
 list-style-type: none; 
 background: lightskyblue; 
 margin-left: 3px; 
} 
ul#nav li a { 
 display : block; 
 padding : 4pt; 
 text-decoration : none; 
} 
ul#nav li li a { 
 width: 160px; 
} 
ul#nav li li:hover { 
 background: white;
} 
ul#nav li ul { 
 overflow: hidden; 
 display: none; 
} 
ul#nav li:hover ul { 
 position: absolute; 
 background: #aaa; 
 padding: 0; 
 display: block; 
 width: 177px; 
}

img{
    width:150px; 
    height: 100px;
    padding: 3px;
    margin: 3px;
    border:0;
}
@media only screen and (max-width : 490px)
{
  #nav{
       display:flex;
        flex-direction: column;    
       width:85%;
       align-content: center;
       margin-left: 20px;
   }
   section{
    display:flex; 
    flex-direction: column;
   }
   .tresc{
       width:80%;
   }
   aside{
       width: 75%;
   }
 

}
@media only screen and (max-width : 500px)
{
  #nav{
       display:flex;
        flex-direction: column;    
       width:85%;
       align-content: center;
       margin-left: 20px;
   }
   section{
    display:flex; 
    flex-direction: column;
   }
   .tresc{
       width:80%;
   }
   aside{
       width: 75%;
   }
   img{
    width:250px; 
    height: 100px;
    padding: 3px;
    margin: 20px;
    border:0;
   }

}
@media only screen and (max-width : 620px)
{
  #nav{
    display:flex;
     flex-direction: column;    
    width:85%;
    align-content: center;
    margin-left: 20px;
   }
   section{
    display:flex; 
    flex-direction: column;
   }
   .tresc{
       width:80%;
   }
   aside{
       width: 75%;
   }

}
@media only screen and (min-width : 621px) and (max-width : 800px)
{
  #nav{
       display:flex;
        flex-direction: column;    
       width:85%;
       align-content: center;
       margin-left: 20px;
   }
   section{
    display:flex; 
    flex-direction: column;
    
   }
   .tresc{
       width:70%;
       
      
   }
   aside{
      
       width: 70%;
   }
 

}

@media only screen and (min-width : 800px) and (max-width : 900px)
{
  #nav{
       display:flex;
        flex-direction: column;    
       width:85%;
       align-content: center;
       margin-left: 20px;
   }
   section{
    display:flex; 
    flex-direction: column;
    
   }
   .tresc{
       width:90%;
      
   }
   aside{
      
       width: 70%;
   }
    img{
    width:150px; 
    height: 100px;
    padding: 3px;
    margin: 20px;
    border:0;
   }

}


